body {background-color: white;}

h1
{
text-align: center;
text-decoration-color: blueviolet;
color: orange;
}
div{
    margin-left: 13cm;
    margin-top: auto;
    width: 40%;
    display: block;

}.center{
    margin-left: auto;
    margin-top: auto;
    width: 50%;
    text-align: center;
}
