{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'FirstApp/homepage.css' %}">
    <title>My Home page html</title>
  </head>
<body>
    <h1>Hi! Welcome to the innovation with python training.</h1>
    <div>
        <img src = "{% static 'FirstApp/image002.jpg' %}"  alt="My image" class="center">
    </div>
</body>
</html>